*{
    padding: 0;
    margin: 0;
    
}

body{
    height: 100vh;
    background-image: linear-gradient(pink ,blanchedalmond, grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
    border-top-left-radius: 50px;
}

h4{
    text-align: center;
}

.seconddiv{
    display: flex;
    background-color: blanchedalmond;
    margin: 35px 0;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius:20% ;
    
}

.content{
    background-color: blanchedalmond;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

input{
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    background-color: silver;
    border-style: none;
    border-radius: 5px;
}
input:hover{
    background-color: white;
    color: black;
}


button{   
    height: 50px;
    border-style: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-top: 3px;
    margin-left: 100px;
    position: absolute; 
    cursor: pointer;
}

#nextbtn{
    margin-left: 185px;
}

#submitbtn{
    margin-left: 235px;
}

.backbtn{
    margin-left: 0px; 
}

button:hover{
    border-style: solid;
    transform:scale(1.05);
    
}

button:active{
    background-color: blanchedalmond;
    color: black;
    border-style: solid;
    transform: scale(0.9);
}
